{% extends 'base.html' %}

{% block title %}Detalhes do Chamado | Rede BR{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="text-secondary fw-bold">Detalhes do Ticket #{{ chamado.id }}</h2>
        <a href="{% url 'lista_chamados' %}" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i> Voltar
        </a>
    </div>

    <div class="card shadow border-0">
        <div class="card-header bg-primary text-white py-3">
            <h5 class="mb-0">{{ chamado.cliente }} - {{ chamado.titulo }}</h5>
        </div>
        <div class="card-body p-4">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Status:</strong> 
                        {% if chamado.status == 'aberto' %}
                            <span class="badge bg-danger">Aberto</span>
                        {% elif chamado.status == 'progresso' %}
                            <span class="badge bg-warning text-dark">Em Atendimento</span>
                        {% else %}
                            <span class="badge bg-success">Finalizado</span>
                        {% endif %}
                    </p>
                    <p><strong>Data de Abertura:</strong> {{ chamado.data_criacao|date:"d/m/Y H:i" }}</p>
                </div>
                <div class="col-md-6 text-md-end">
                <a href="{% url 'gerar_pdf_chamado' chamado.id %}" class="btn btn-dark shadow-sm me-2">
                    <i class="bi bi-file-earmark-pdf"></i> Baixar OS
                </a>

                <a href="{% url 'editar_chamado' chamado.id %}" class="btn btn-warning shadow-sm">
                    <i class="bi bi-pencil"></i> Editar
                </a>
            </div>
            </div>
            <hr>
            <div class="mt-3">
                <h6 class="fw-bold text-uppercase text-muted">Descrição do Problema:</h6>
                <div class="p-3 bg-light rounded border">
                    {{ chamado.descricao|linebreaks }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}